{
  "extends": "stylelint-config-standard",
  "plugins": ["stylelint-order", "stylelint-scss"],
  "rules": {
    "at-rule-no-unknown": [true, { "ignoreAtRules": ["use", "include"] }],
    "no-descending-specificity": null,
    "order/properties-alphabetical-order": true,
    "selector-class-pattern": "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$"
  }
}
